# --- Postgres: users-svc ---
USERS_DB_USER=users_admin
USERS_DB_PASSWORD=dev_password_users
USERS_DB_NAME=users_db
USERS_DB_PORT=5433

# --- Postgres: booking-svc ---
BOOKING_DB_USER=booking_admin
BOOKING_DB_PASSWORD=dev_password_booking
BOOKING_DB_NAME=booking_db
BOOKING_DB_PORT=5434

# --- Postgres: notif-svc ---
NOTIF_DB_USER=notif_admin
NOTIF_DB_PASSWORD=dev_password_notif
NOTIF_DB_NAME=notif_db
NOTIF_DB_PORT=5435

# --- JWT ---
JWT_SECRET_KEY=your-super-secret-key-change-in-production-12345
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# --- Consul ---
CONSUL_HOST=consul
CONSUL_PORT=8500

# --- MCP (para running locally con Claude Desktop) ---
MCP_RUN_MODE=local
